{% extends 'base.html.twig' %}

{% block title %}Adresses de
	{{ user.prenom }}
{% endblock %}

{% block body %}
	<h1 class="text-center mt-10">Adresses de
		{{ user.prenom }}</h1>
	<section class="h-[25rem] flex flex-col justify-around items-center ">
		<ul>
			{% for adresse in adresses %}
				<li class="flex flex-row ">
					{# {{ adresse.id }} #}
					{# - #}
						<span class=" text-sm text-center m-auto"> {{ adresse.ligne1 }}
					</span>
					<a class="focus:outline-none text-black bg-yellow-400 focus:ring-4  font-medium rounded-lg text-sm px-4 py-2.5 me-2 mb-2 " href="{{ path('app_user_adresses_update', {'uuid': user.uuid, 'id': adresse.id}) }}">
						Modifier</a>
					<form action="{{ path('app_user_adresses_delete', {'uuid': user.uuid, 'id': adresse.id}) }}" method="POST" style="display: inline-block;">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
						<button type="submit" class=" rounded-md  bg-red-600 text-white text-sm px-3 py-2.5 me-2 mb-2">Supprimer</button>
					</form>
				</li>
			{% endfor %}
		</ul>
		{# Ajouter des liens pour ajouter, modifier ou supprimer des adresses si nécessaire #}
		<a class=" btn-cta w-[15rem]" href=" {{ path('app_user_adresses_new', {'uuid': user.uuid} ) }}">Ajouter une nouvelle adresse</a>
	</li>
</section>{% endblock %}
