{% extends 'base.html.twig' %}

{% block title %}Modifier l'Adresse
{% endblock %}

{% block body %}
	<h1 class=" max-md:text-md md:text-lg text-center my-5">Modifier l'Adresse</h1>
	<section>
		<div class=" flex ">
			<div class=" w-full pb-10 flex items-center justify-center  ">
				<div class="p-12 flex items-center justify-center  border-2 rounded-md  border-primary-accent   max-sm:w-[95%] md:w-[50%] lg:w-[45rem] ">
					{{ form_start(form,  {'attr':{'class':'flex flex-col text-xs  max-md:items-center w-full  '}})  }}
					<div class="flex flex-col max-lg:flex-col align-middle max-lg:justify-center justify-between max-lg:w-full">

						{{ form_label(form.ligne1) }}
						{{ form_widget(form.ligne1, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}) }}
						{{ form_errors(form.ligne1)}}

						{{ form_label(form.ligne2) }}
						{{ form_widget(form.ligne2, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}) }}
						{{ form_errors(form.ligne2)}}

						{{ form_label(form.codePostal) }}
						{{ form_widget(form.codePostal, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}) }}
						{{ form_errors(form.codePostal)}}

						{{ form_label(form.ville) }}
						{{ form_widget(form.ville, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}) }}
						{{ form_errors(form.ville)}}

						{{ form_label(form.pays) }}
						{{ form_widget(form.pays, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}) }}
						{{ form_errors(form.pays)}}
						{# </div> #}
						{{ form_label(form.cedex) }}
						{{ form_widget(form.cedex, {'attr': {'class': ' max-lg:w-full input-text blur:!outline-none focus:!outline-none'}}
						) }}
						{{ form_errors(form.cedex)}}
						<button type="submit" class="btn-cta w-full lg:w-[35%] m-auto mt-5">
							Enregistrer</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="flex flex-col my-5">
		<a class="btn-cta w-3/4 md:w-1/5 m-auto " href="{{ path('app_adress_default', {'uuid': app.user.uuid, 'id': adresse.id}) }}">Choisir cette adresse par défaut
		</a>
		<a class="m-auto" href=" {{ path('app_user_adresses', {'uuid': user.uuid} ) }}">Retour à la liste des adresses</a>
	</div>
{% endblock %}
