<div class="flex flex-col w-[25rem]">
	{{ form_start(form) }}
	<span class="flex flex-col">
		{{form_label(form.nom)}}
		{{ form_widget(form.nom) }}
		{{ form_errors(form.nom)}}
	</span>
	<br>
	{{form_label(form.description)}}
	<br>
	{{ form_widget(form.description) }}
	{{ form_errors(form.description) }}
	<br>
	<div class=" flex flex-col justify-center">
		{% if produit.image %}
			<img class="h-52 m-auto object-fit " src="{{asset('uploads/produits/'~ produit.image)}} ">
		{% else %}
			<small>Pas d'images</small>
		{% endif %}


		<span class="flex flex-col m-auto w-full">
			{{form_label(form.image)}}
			{{ form_widget(form.image,{'attr':{'class':'block w-full text-sm     '}}) }}
			{{ form_errors(form.image) }}
		</span>
	</div>
	<br>
	{{form_label(form.stock)}}
	{{ form_widget(form.stock, {"attr":{"class":" text-gray-900 text-sm focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
	{{ form_errors(form.stock) }}
	<br>
	{{form_label(form.marque)}}
	{{ form_widget(form.marque,{"attr":{"class":"block py-2.5 px-0 w-full text-sm   peer"}}) }}
	{{ form_errors(form.marque) }}
	<br>
	{{form_label(form.fournisseur)}}
	{{ form_widget(form.fournisseur,{"attr":{"class":"block py-2.5 px-0 w-full text-sm   peer"}}) }}
	{{ form_errors(form.fournisseur) }}
	<br>
	{# {{form_label(form.categorie)}} #}
	<br>
	<button id="dropdown-categorie" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center  bg-light-accent rounded-lg hover:bg-tertiary-accent  focus:ring-1 focus:outline-none focus:ring-blue-100 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">

		{{form_label(form.categorie)}}
		<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
		</svg>
	</button>

	<!-- Dropdown menu -->
	<div id="dropdown-body" class="z-10 hidden  bg-white rounded-lg shadow w-60 dark:bg-gray-700">
		<ul class=" h-48 px-3 pb-3  overflow-y-auto text-sm text-gray-700 dark:text-gray-200">

			{% for checkbox in form.categorie %}
				<li
					class="flex flex-row  p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
					{# <div class=""> #}
					{{ form_widget(checkbox,{'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500'}}
					) }}
					<span class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
						{{form_label(checkbox)}}
					</span>
					{{ form_errors(checkbox, {'attr': {'class':'bg-red-50'}}) }}
					<br>
					{# </div> #}
				</li>
			{% endfor %}
		</ul>


	</div>
	<br>
	{{form_label(form.prix)}}
	{{ form_widget(form.prix,{"attr":{"class":"block py-2.5 px-0 w-full text-sm   peer"}}) }}
	{{ form_errors(form.prix) }}
	{{form_label(form.tauxTVA)}}
	{{ form_widget(form.tauxTVA,{"attr":{"class":"block py-2.5 px-0 w-full text-sm   peer"}}) }}
	{{ form_errors(form.tauxTVA) }}
	<br>
	<button class="btn-border hover:text-white hover:bg-primary-dark">
		{{ button_label|default('Save') }}</button>


	{{ form_end(form) }}</div>
