{% extends 'base.html.twig' %}

{% block title %}
	BioBloomMarket - Tous les produits
{% endblock %}

{% block body %}
	<h1 class="text-center">Tous les produits BioBloomMarket</h1>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:ml-32 min-h-screen ">

		{% for produit in produits %}
			<div class="w-full max-w-sm  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-[22rem] my-5 ">
				<a href="{{path('app_produit_show', {'id': produit.id})}}">
					<div class="h-[15rem] w-full p-8  ">
						{% if  produit.image %}
							<img class=" m-auto  rounded-lg object-contain  h-[95%] " src="{{asset('uploads/produits/'~ produit.image)}}" alt="product image"/>
						{% else %}
							<small>Pas d'images</small>
						{% endif %}
					</div>
				</a>
				<div class="px-5 pb-5">
					<a href="#">
						<h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{produit.nom}}</h5>
					</a>
					<div class="flex items-center justify-between py-5">
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn-border m-auto">Voir le produit</a>
						{# <a href="#" class="btn-cta">Ajouter au panier</a> #}
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

	<table class="table">
		<thead>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}

					<th>Id</th>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}

					<th>Slug</th>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}

					<th>IsVisible</th>
					<th>Stock</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					{% if is_granted("ROLE_ADMIN") %}

						<td>{{ produit.id }}</td>
					{% endif %}

					{% if is_granted("ROLE_ADMIN") %}

						<td>{{ produit.slug }}</td>
					{% endif %}

					{% if is_granted("ROLE_ADMIN") %}

						<td>{{ produit.isVisible ? 'Yes' : 'No' }}</td>
						<td>{{ produit.stock }}</td>
						<td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					{% endif %}
					<td>

						{% if is_granted("ROLE_ADMIN") %}

							<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('app_produit_new') }}">Create new</a>
	{% endif %}
{% endblock %}
