{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>Produit</h1>

	<table class="table">
		<tbody>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Id</th>
					<td>{{ produit.id }}</td>
				{% endif %}
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ produit.nom }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ produit.description }}</td>
			</tr>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Slug</th>
					<td>{{ produit.slug }}</td>
				{% endif %}
			</tr>
			<tr>
				<th>Image</th>
				{% if produit.image %}
					<td>
						<img height="50" width="50" src="{{asset('uploads/produits/'~ produit.image)}}">
					{% else %}
						<p>Pas d'image</p>
					</td>
				{% endif %}
				{# <td>{{ produit.image ? produit.image : "Pas d'image" }}</td> #}
			</tr>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>IsVisible</th>
					<td>{{ produit.isVisible ? 'Yes' : 'No' }}</td>
				{% endif %}
			</tr>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Stock</th>
					<td>{{ produit.stock }}</td>
				{% endif %}
			</tr>
			{% if is_granted("ROLE_ADMIN") %}

				<tr>
					<th>CreatedAt</th>
					<td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<a href="{{ path('app_produit_index') }}">back to list</a>
	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

		{{ include('produit/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
