{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	{# <h1>Produit </h1> #}

	<div class="  hover:duration-500 hover:ease-in-out duration-500 lg:ml-5  ">
		<a title="Retourner à la liste des produits" class="text-tertiary-dark hover:text-primary-dark font-semibold  flex flex-row justify-evenly w-[20rem]" href="{{ path('app_produit_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-undo-2"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/></svg>
			Retourner à la liste des produits
		</a>
	</div>
	<h1 class="text-center">{{produit.nom}}
	</h1>

	<section class="flex flex-col justify-center items-center h-[40rem]">
		<div class="md:grid  md:grid-cols-2 place-content-center   w-[90%] ">
			<div class=" w-full">
				{% if produit.image %}
					<div class=" ">
						<img class="  rounded-lg object-contain h-[25rem] m-auto" src="{{asset('uploads/produits/'~ produit.image)}}">
					</div>
				{% else %}
					<p>Pas d'image</p>
				{% endif %}
			</div>
			<div class="flex flex-col justify-center ">
				<h2>{{ produit.nom }}</h2>
				<p>{{ produit.description }}</p>
				<p>{{ produit.marque.nom }}</p>
				<p>{{produit.prix|number_format(2, '.', ',')}}</p>

				<form
					action="{{ path('app_ligne_panier_new', { produitId: produit.id }) }}" method="GET">
					{# <input type="number" name="quantity" value="1" min="1"> #}
					<button class="btn-cta" type="submit">Ajouter au panier</button>
				</form>
				<ul>
					{% for categorie in produit.categorie %}
						<li>{{categorie.nom}}</li>
					{% endfor %}
				</ul>
			</div>
		</section>

	</div>
	<table class="table">
		<tbody>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Id</th>
					<td>{{ produit.id }}</td>
				{% endif %}
			</tr>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Slug</th>
					<td>{{ produit.slug }}</td>
				{% endif %}
			</tr>

			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>IsVisible</th>
					<td>{{ produit.isVisible ? 'Yes' : 'No' }}</td>
				{% endif %}
			</tr>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Stock</th>
					<td>{{ produit.stock }}</td>
				{% endif %}
			</tr>
			{% if is_granted("ROLE_ADMIN") %}

				<tr>
					<th>CreatedAt</th>
					<td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>


	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

		{{ include('produit/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
