{% extends "base.html.twig" %}
{% block body %}
	<div class="flex flex-row justify-between">
		<aside class="bg-primary-default h-screen">
			<h2>Navbar Dashboard</h2>
			<ul>
				<li>STP Fonctionne</li>
			</ul>
		</aside>
		<section>
			<h1>Dashboard</h1>


			<h2>Content
			</h2>
			<a class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2  my-3 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800  w-1/2" href=" {{ path('app_user_index') }} ">Utilisateur</a>
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
				<a
					href="#">{# <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt=""/> #}
				</a>
				<div class="p-5">
					<a href={{path('app_fournisseur_index')}}>
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Fournisseurs</h5>
					</a>
					<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Liste des fournisseurs pour BioBloomMarket</p>
					<a href={{path('app_fournisseur_index')}} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
						Voir plus
						<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
						</svg>
					</a>
				</div>

			</div>
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
				<a
					href="#">{# <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt=""/> #}
				</a>
				<div class="p-5">
					<a href={{path('app_adresse_index' )}}>
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Adresses</h5>
					</a>
					<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Liste des Adresses  pour BioBloomMarket</p>
					<a href={{path('app_adresse_index')}} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
						Voir plus
						<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
						</svg>
					</a>
				</div>

			</div>
		</section>
		<aside class="bg-secondary-light h-screen w-[10rem]">
			<h2>Notif</h2>
			<small>A modifier, on peut le cacher et le faire apparaître à la demande</small>
		</aside>
	</div>
{% endblock %}
