{% extends 'base.html.twig' %}

{% block title %}Marque index
{% endblock %}

{% block body %}
	<h1 class="text-center">Toutes les marques BioBloomMarket</h1>
	<div class="lg:grid lg:grid-cols-2 m-auto  w-[95%] lg:place-content-center place-items-center lg:h-screen">
		{% for marque in marques %}
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-[25rem] p-5">
				<a class="" href="{{path("app_marque_show", {"slug": marque.slug})}}">
					<img class=" h-[10rem] rounded-t-lg m-auto" src="{{asset('uploads/marques/'~ marque.logo)}}"/>
				</a>
				<div class="p-5 h-[10rem] flex flex-col justify-between">
					<a href="{{path("app_marque_show", {"slug": marque.slug})}}">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{marque.nom}}</h5>
						<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">{{marque.description}}</p>
					</a>
					<span class="flex flex-rox justify-beetw">
						<a href={{ path('app_marque_show', {'slug': marque.slug} ) }} class="btn-cta m-auto">
							Afficher les produits

						</a>

						{% if is_granted("ROLE_ADMIN") %}
							{% if marque.isActive  %}

								<small class="  border border-green-700 rounded-lg font-semibold p-2 bg-green-300 text-green-700">Visible</small>

							{% else %}
								<small class="border border-red-700 p-2 rounded-lg font-semibold bg-red-300 text-red-700">Non visible</small>
							{% endif %}
						{% endif %}
					</span>
				</div>

			</div>
		{% endfor %}
	</div>
	<table class="table">
		<thead>
			<tr>
				{% if is_granted("ROLE_ADMIN") %}

					<th>Id</th>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}
					<th>Slug</th>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>IsActive</th>
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for marque in marques %}
				<tr>
					{% if is_granted("ROLE_ADMIN") %}
						<td>{{ marque.id }}</td>
					{% endif %}

					{% if is_granted("ROLE_ADMIN") %}
						<td>{{ marque.slug }}</td>
					{% endif %}


					{% if is_granted("ROLE_ADMIN") %}
						<td>{{ marque.createdAt ? marque.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ marque.updatedAt ? marque.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ marque.isActive ? 'Yes' : 'No' }}</td>
					{% endif %}
					<td>

						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('app_marque_edit', {'slug': marque.slug}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="9">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% if is_granted("ROLE_ADMIN") %}<a href="{{ path('app_marque_new') }}">Create new</a>{% endif %}{% endblock %}
