{% extends 'base.html.twig' %}

{% block title %}Marque
{% endblock %}

{% block body %}
	<section class="flex flex-col items-center ">
		<h1 class="text-center">{{marque.nom}}</h1>
		<p class=" text-center">{{marque.description}}</p>
		{% if marque.logo  %}
			<div class="">
				<img class="m-auto" height="50" width="50" src="{{asset('uploads/marques/'~ marque.logo)}}">
			</div>

		{% endif %}
		<h2 class="text-center">Produits de
			{{marque.nom}}</2>
		<div class="  flex flex-row justify-around  m-auto">
			{% if marque.Produits is empty %}
				<p>
					Il n'y a pas de produits dans cette catégorie pour le moment.
				</p>
			{% else %}
				<div class="  lg:grid grid-cols-3  w-[95%] gap-5 ">
					{% for produit in marque.Produits %}
						<div class="  h-[15rem]  w-1/3 ml-40  flex flex-col justify-between ">
							<a href="{{path("app_produit_show", {'id':produit.id})}}">
								<h3 class="text-sm text-center">{{produit.nom}}</h3>
								<img class=" object-contain h-[50%] m-auto" src={{asset('uploads/produits/'~ produit.image)}}>
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
	<table class="table">
		<tbody>
			{% if is_granted('ROLE_ADMIN') %}
				<tr>
					<th>Id</th>
					<td>{{ marque.id }}</td>
				</tr>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}

				<tr>
					<th>Slug</th>
					<td>{{ marque.slug }}</td>
				</tr>
			{% endif %}


			{% if is_granted('ROLE_ADMIN') %}

				<tr>
					<th>CreatedAt</th>
					<td>{{ marque.createdAt ? marque.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ marque.updatedAt ? marque.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>IsActive</th>
					<td>{{ marque.isActive ? 'Yes' : 'No' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>


	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_marque_index') }}">back to list</a>

		<a href="{{ path('app_marque_edit', {'slug': marque.slug}) }}">edit</a>

		{{ include('marque/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
