{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1 class="text-center">{{categorie.nom}}</h1>
	<p class="text-center">{{categorie.description}}</p>
	<div class="  hover:duration-500 hover:ease-in-out duration-500 lg:ml-5  ">
		<a title="Retourner à la liste des produits" class="text-tertiary-dark hover:text-primary-dark font-semibold  flex flex-row justify-evenly w-[20rem]" href="{{ path('app_produit_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-undo-2"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/></svg>
			Retour aux produits</a>
	</div>
	<table class="table">
		<tbody>

			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Id</th>
					<td>{{ categorie.id }}</td>
				</tr>
			{% endif %}
			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Slug</th>
					<td>{{ categorie.slug }}</td>
				</tr>
			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>CreatedAt</th>
					<td>{{ categorie.createdAt ? categorie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>IsVisible</th>
					<td>{{ categorie.isVisible ? 'Yes' : 'No' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<div class="flex flex-col justify-center place-items-center ">
		<h2>Produits présents dans la catégorie
			{{categorie.nom}}</h2>
		{% if produitVisible is empty %}
			<p>Pas de produits dans cette catégorie</p>
		{% endif %}

		<div class=" w-[95%] m-auto  ">
			{% if categorie.Produits is empty %}
				<p>
					Il n'y a pas de produits dans cette catégorie pour le moment.
				</p>
			{% else %}
				<div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  place-items-center gap-5  max-h-full">
					{% for produit in categorie.Produits %}
						{% if produit.isVisible %}


							<div class=" lg:w-[16rem] flex flex-col items-center">
								<h3 class=" text-center">{{produit.nom}}</h3>
								<img class="max-sm:h-[10rem] max-sm:w-[10rem] md:h-[10rem] lg:h-[10rem] object-contain rounded-lg" src={{asset('uploads/produits/'~ produit.image)}}>
								{% if is_granted("ROLE_ADMIN") %}
									<small class=" text-xs  border border-green-700 rounded-lg font-semibold p-2 w-fit bg-green-300 text-green-700">Visible</small>
								{% endif %}


							</div>
						{% else %}
							{% if is_granted("ROLE_ADMIN") %}
								<div class=" flex flex-col items-center">
									<h3 class=" text-center">{{produit.nom}}</h3>
									<img class="max-sm:h-[10rem] max-sm:w-[10rem] md:h-[10rem] lg:h-[10rem] object-contain rounded-lg" src={{asset('uploads/produits/'~ produit.image)}}>
									<small class=" text-xs  border border-red-700 rounded-lg font-semibold p-2 w-fit bg-red-300 text-red-700">Non visible</small>
								</div>
							{% endif %}

						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('app_categorie_index') }}">back to list</a>

		<a href="{{ path('app_categorie_edit', {'slug': categorie.slug}) }}">edit</a>

		{{ include('categorie/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
