{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1>Categorie</h1>

	<table class="table">
		<tbody>

			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Id</th>
					<td>{{ categorie.id }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Nom</th>
				<td>{{ categorie.nom }}</td>
			</tr>
			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Slug</th>
					<td>{{ categorie.slug }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Description</th>
				<td>{{ categorie.description|e }}</td>
			</tr>


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>CreatedAt</th>
					<td>{{ categorie.createdAt ? categorie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>IsVisible</th>
					<td>{{ categorie.isVisible ? 'Yes' : 'No' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
	<h2>Produits de
		{{categorie.nom}}</h2>
	<div class=" w-[95%] m-auto">
		{% if categorie.Produits is empty %}
			<p>
				Il n'y a pas de produits dans cette catégorie pour le moment.
			</p>
		{% else %}
			<div class=" grid grid-cols-3  place-items-center">
				{% for produit in categorie.Produits %}
					<div class="h-[20rem] w-[20rem] flex flex-col items-center ">
						<h3 class=" text-center">{{produit.nom}}</h3>
						<img class="h-[15rem] object-fit rounded-lg" src={{asset('uploads/produits/'~ produit.image)}}>

					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>

	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('app_categorie_index') }}">back to list</a>

		<a href="{{ path('app_categorie_edit', {'slug': categorie.slug}) }}">edit</a>

		{{ include('categorie/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
