{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1 class="text-center">{{categorie.nom}}</h1>
	<p class="text-center">{{categorie.description}}</p>
	<div class="  hover:duration-500 hover:ease-in-out duration-500 lg:ml-5  ">
		<a title="Retourner à la liste des produits" class="text-tertiary-dark hover:text-primary-dark font-semibold  flex flex-row justify-evenly w-[20rem]" href="{{ path('app_produit_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-undo-2"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/></svg>
			Retour aux produits</a>
	</div>
	<table class="table">
		<tbody>

			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Id</th>
					<td>{{ categorie.id }}</td>
				</tr>
			{% endif %}
			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>Slug</th>
					<td>{{ categorie.slug }}</td>
				</tr>
			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>CreatedAt</th>
					<td>{{ categorie.createdAt ? categorie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
				<tr>
					<th>IsVisible</th>
					<td>{{ categorie.isVisible ? 'Yes' : 'No' }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<div class="flex flex-col justify-center place-items-center">
		<h2>Produits présents dans la catégorie
			{{categorie.nom}}</h2>
		<div class=" w-[95%] m-auto ">
			{% if categorie.Produits is empty %}
				<p>
					Il n'y a pas de produits dans cette catégorie pour le moment.
				</p>
			{% else %}
				<div class=" grid grid-cols-3  place-items-center">
					{% for produit in categorie.Produits %}
						<div class="h-[20rem] w-[20rem] flex flex-col items-center ">
							<h3 class=" text-center">{{produit.nom}}</h3>
							<img class="h-[15rem] object-fit rounded-lg" src={{asset('uploads/produits/'~ produit.image)}}>

						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('app_categorie_index') }}">back to list</a>

		<a href="{{ path('app_categorie_edit', {'slug': categorie.slug}) }}">edit</a>

		{{ include('categorie/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
