{% extends 'base.html.twig' %}

{% block title %}Mon Profil - Bio Bloom Market
{% endblock %}

{% block body %}
	<div class="flex h-full ">

		<aside class="bg-primary-dark h-max  w-[15%]">
			<a href="#">Historique des commandes</a>
			<br/>
			<a href="#">Suivi des livraisons</a>
		</aside>
		<section class="flex-col ml-[4rem]  ">
			<h1 class="mt-[3rem]">Bonjour,
				{{user.prenom}}</h1>
			<h2 class="font-semibold text-3xl">Mes informations</h2>

			<table class="  ">
				<tbody>
					<tr>{# <th>Id</th> #}
						{# <td>{{ user.id }}</td> #}
					</tr>

					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>

					{% if is_granted('ROLE_ADMIN') %}
						<tr>

							<th>Roles</th>
							<td>
								<ul class=" ">
									{% for role in user.roles %}
										<li class="inline">
											{{role}};
										</li>
									{% endfor %}
									{# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
								</ul>
							</td>
						</tr>
					{% endif %}
					<tr>
						<th>Nom</th>
						<td>{{ user.nom }}</td>
					</tr>
					<tr>
						<th>Prenom</th>
						<td>{{ user.prenom }}</td>
					</tr>
					<tr>
						<th>Telephone</th>
						<td>{{ user.telephone }}</td>
					</tr>
					<tr>
						<th>DateNaissance</th>
						<td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
					</tr>
					<tr>
						<th>FideliteClient</th>
						<td>{{ user.fideliteClient ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>PrefAchat</th>
						<td>{{ user.prefAchat }}</td>
					</tr>
				</tbody>
			</table>

			<h4 class="my-3 font-semibold text-2xl">Votre adresse par défaut
			</h4>
			<ul class="my-3">
				<li>

					{% if adresseDefault is not null %}
						{{ adresseDefault.ligne1 }}
					{% else %}
						<small>Pas d'adresses enregistrées</small>
					{% endif %}


					{# PLus tard mettre default//true#}
				</li>
			</ul>

			{# Remettre le <a> qui est dans Brouillon #}
			<span class="my-3">
				<a href="{{ path('app_user_adresses', {'uuid': user.uuid}) }}" class="btn-cta ">Gérer vos adresses</a>
			</span>

			<h3 class="my-3">Vous souhaitez modifier vos informations personnelles ?
			</h3>
			<a class="  bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 mt-3 dark:focus:ring-yellow-900 " href="{{ path('app_user_edit', {'uuid': user.uuid}) }}">Modifier</a>

			<h4 class="my-3">Vous souhaitez supprimer votre compte ?
			</h4>
			{{ include('user/_delete_form.html.twig') }}
			{% if is_granted('ROLE_ADMIN') %}

				<small class="font-semibold">ADMIN</small>
				<div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 h-[12rem] flex flex-col justify-around items-center w-2/3 mb-5">
					<h4 class="my-3">Liste des utilisateurs :
						<br>
					</h4>
					{# <span class="mt-8"> #}
					<a class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2  my-3 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800  w-1/2" href=" {{ path('app_user_index') }} ">back to list</a>
					{# </span> #}
					{# #[Route('admin/', name: 'admin_app_main')] #}
					<a class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2  my-3 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800  w-1/2" href="{{path('admin_app_main')}}">Dashboard</a>
				</div>
			{% endif %}
		</section>
	</div>
{% endblock %}
